{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<h2>{% trans "Detalle de la Orden #{{ order.id }}" %}</h2>

<p><strong>{% trans "Fecha de creación:" %}</strong> {{ order.created_at }}</p>
<p><strong>{% trans "Método de pago:" %}</strong> {{ order.payment_method }}</p>
<p><strong>{% trans "Total:" %}</strong> ${{ order.total }}</p>

<h3>Productos en la orden:</h3>
<ul>
  {% for item in order.items.all %}
  <li>{% trans "{{ item.product.name }} - Cantidad: {{ item.quantity }} - Precio: ${{ item.product.price }}" %}</li>
  {% empty %}
  <li>{% trans "No hay productos en esta orden." %}</li>
  {% endfor %}
</ul>

<a href="{% url 'product_list' %}">{% trans "Volver a la tienda" %}</a>
{% endblock %}