{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<h2>{% trans "Confirmación de Compra" %}</h2>

<p><strong>{% trans "Método de pago:" %}</strong> {{ payment_method }}</p>
<p><strong>{% trans "Total:" %}</strong> ${{ total_paid }}</p>

<h3>{% trans "Productos en tu compra:" %}</h3>
<ul>
  {% for item in cart_items %}
  <li>{% trans "{{ item.product.name }} - Cantidad: {{ item.quantity }} - Precio: ${{ item.product.price }}" %}</li>
  {% empty %}
  <li>{% trans "No hay productos en esta compra." %}</li>
  {% endfor %}
</ul>

<a href="{% url 'product_list' %}">{% trans "Volver a la tienda" %}</a>
{% endblock %}