{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% trans "Cliente" %}</title>
</head>

<body>
    <h2>{% trans "Bienvenido, Cliente" %}</h2>
    <p>{% trans "Puedes ver productos y realizar compras." %}</p>
    <a href="{% url 'logout' %}" class="btn btn-secondary">{% trans "Cerrar sesión" %}</a>
    <a href="{% url 'product_list' %}" class="btn btn-secondary">{% trans "Home" %}</a>
</body>

</html>
{% endblock %}