{% extends 'users/base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cliente</title>
</head>
<body>
    <h2>Bienvenido, Cliente</h2>
    <p>Puedes ver productos y realizar compras.</p>
    <a href="{% url 'logout' %}" class = "btn btn-secondary">Cerrar sesión</a>
    <a href="{% url 'product_list' %}" class = "btn btn-secondary">Home</a>
</body>
</html>
{% endblock %}