{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load i18n %}
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <title>{% trans "Registro Completo" %}</title>
</head>

<body>
  <h2>{% trans "Registro Completo" %}</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">{% trans "Registrarse" %}</button>
  </form>
  <p>{% trans "¿Deseas registrarte de forma básica?" %} <a href="{% url 'basic_register' %}">{% trans "Haz click aquí"
      %}</a></p>
  <p>{% trans "¿Ya tienes cuenta?" %} <a href="{% url 'login' %}">{% trans "Inicia sesión" %}</a></p>
</body>

</html>
{% endblock %}