{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Lista de Productos</h2>
    <div class="row">
        {% for product in products %}
        <div class="col-md-4 mb-4">
            <div class="card">
                {% if product.image %}
                    <img src="{{ product.image.url }}" alt="{{ product.name }}" class="product-image">
                {% else %}
                    <img src="/media/products/default.jpg" alt="Imagen no disponible" class="product-image">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p>Calificación promedio: {{ product.average_rating|default:0|floatformat:1 }} ⭐</p>
                    <p class="card-text"><strong>Precio:</strong> ${{ product.price }}</p>
                    <a href="{% url 'product_detail' product.id %}" class="btn btn-primary">Ver detalles</a>
                </div>
            </div>
        </div>
        {% empty %}
        <p>No hay productos disponibles.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}