{% extends 'products/base.html' %}
{% load static %}
{% block content %}
<div class="container mt-5">
    <h2>
        {% if user.is_authenticated %}
            {% if user.is_staff %}
                {% trans "¡Bienvenido, administrador" %} {{ user.username }}! 👑
            {% else %}
                {% trans "¡Hola, " %} {{ user.username }}!
            {% endif %}
        {% else %}
            {% trans "¡Bienvenido a nuestra tienda!" %} 🛍️
        {% endif %}
    </h2>
    <div class="row">
        <form method="GET" action="{% url 'product_list' %}">
            <input type="hidden" name="category" value="{{ selected_category }}">
            <button type="submit" name="order" value="rating" class="btn btn-primary">{% trans "Ordenar por mejor calificación" %}</button>
        </form>

        <form method="GET" action="{% url 'product_list' %}">
            <label for="category">{% trans "Filtrar por categoría" %}:</label>
            <select name="category" id="category" onchange="this.form.submit()">
                <option value="">{% trans "Todas" %}</option>
                {% for category in categories %}
                    <option value="{{ category.id }}" {% if category.id|stringformat:"s" == selected_category %}selected{% endif %}>
                        {{ category.name }}
                    </option>
                {% empty %}
                    <option disabled>{% trans "No hay categorías disponibles" %}</option>
                {% endfor %}
            </select>
        </form>

        {% for product in products %}
        <div class="col-md-4 mb-4">
            <div class="card" style="width: 14rem;">
            {% if product.image %}
                    <img src="{{ product.image.url }}" alt="{{ product.name }}" class="product-image">
                {% else %}
                    <img src="/media/products/default.jpg" alt={% trans "Imagen no disponible" %} class="product-image">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p>{% trans "Calificación promedio:" %} {{ product.average_rating|default:0|floatformat:1 }} ⭐</p>
                    <p class="card-text"><strong>{% trans "Precio:" %}</strong> ${{ product.price }}</p>
                    <a href="{% url 'product_detail' product.id %}" class="btn btn-primary">{% trans "Ver detalles" %}</a>

                    {% if user.is_authenticated and user.is_staff %}
                        <p>
                            Stock disponible: 
                                
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
        {% empty %}
        <p>{% trans "No hay productos disponibles." %}</p>
        {% endfor %}
    </div>
</div>
{% endblock %}